<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"> New Training</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading">
          <mat-label>Favorite Excersise</mat-label>
          <mat-select placeholder="favorite exc" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="!isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-button type="submit" [disabled]="f.invalid">
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>